{% extends "sqladmin/layout.html" %}
{% block content %}
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Login</h5>
                <form method="post" action="{{ sqladmin_base_url }}/login">
                    <div class="mb-3">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="text" class="form-control" id="phone" name="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}